<h2>Create a new drone</h2>

<form action="" method="post">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="name">
  </div>
    <div class="mb-3">
    <label  class="form-label">Number of propellers</label>
    <input type="text" class="form-control" name="propellers">
  </div>
    <div class="mb-3">
    <label  class="form-label">Speed level</label>
    <input type="text" class="form-control" name="maxSpeed">
  </div>

{{!-- button --}}
<button type="submit" class="btn btn-primary">Create</button>
</form>