<h2>Available drones</h2>

{{#each Alldrones}}
<div class="accordion accordion-flush bg-dark" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{ this.name }}
      </button>

    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      <a href="/drones/{{this.id}}" class="btn btn-primary">Wanna Know more?</a>
      </div>

      <br>
    </div>
  </div>
</div>
{{/each}}